<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>生涯列表--毕业生生涯追踪系统</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" contentda="telephone=no">
    <link rel="stylesheet" href="/resources/layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="/resources/css/public.css" media="all" />
</head>
<body class="childrenBody">
<form class="layui-form">
    <blockquote class="layui-elem-quote quoteBox">
        <form class="layui-form">
            <div class="layui-inline">
                <div class="layui-input-inline">
                    <input type="text" id="seek" class="layui-input searchVal" placeholder="请输入搜索的内容" />
                </div>
                <a class="layui-btn search_btn" data-type="reload">搜索</a>
            </div>
            <div class="layui-inline">
                <a class="layui-btn layui-btn-danger layui-btn-normal delAll_btn">批量删除</a>
            </div>
        </form>
    </blockquote>
    <table id="careerList" lay-filter="careerList"></table>

</form>
<script type="text/javascript" src="/resources/layui/layui.js"></script>
<script type="text/javascript">
    layui.use(['form','layer','laydate','table','laytpl'],function(){
        var form = layui.form,
            layer = parent.layer === undefined ? layui.layer : top.layer,
            $ = layui.jquery,
            laydate = layui.laydate,
            laytpl = layui.laytpl,
            table = layui.table;

        //生涯列表
        var tableIns = table.render({
            elem: '#careerList',
            url : '/career/delete/list',
            cellMinWidth : 95,
            page : true,
            height : "full-125",
            limit : 10,
            limits : [10,15,20,25],
            id : "careerListTable",
            cols : [
                [
                    {type: "checkbox", fixed:"left", width:50},
                    {field: 'id',title: "生涯id",align: 'center',sort: true},
                    {field: 'companyName', title: '公司名称', width:350,sort:true},
                    {field: 'nickName', title: '发布者', align:'center',sort: true},
                    {field: 'grade', title: '年级',align: 'center',sort: true},
                    {field: 'position',title: '职位',align: 'center',sort: true},
                    {field: 'attach',title: '概述',align: 'center'}
                ]
            ]
        });


        //搜索
        $(".search_btn").on("click",function(){
            if($(".searchVal").val() != ''){

                table.reload("careerListTable",{
                    page: {
                        curr: 1 //重新从第 1 页开始
                    },
                    where: {
                        key: $(".searchVal").val() //搜索的关键字
                    }
                })
            }else{
                layer.msg("请输入搜索的内容");
            }
        });

        //批量删除
        $(".delAll_btn").click(function(){
            var checkStatus = table.checkStatus('careerListTable'),
                data = checkStatus.data,
                deleteId = [];
            if(data.length > 0) {
                for (var i in data) {
                    deleteId.push(data[i].id);
                }
                var deletesId =""+deleteId;
                layer.confirm('确定删除选中的文章？',
                    {icon: 3, title: '提示信息'},
                    function (index) {
                    $.post("/career/delete/delete",{
                        deletesId : deletesId
                    },function(data){
                        layer.msg(data.msg);
                        tableIns.reload();
                        layer.close(index);
                    })
                })
            }else{
                layer.msg("请选择需要删除的生涯");
            }
        })

        //列表操作
        table.on('tool(careerList)', function(obj){
            var layEvent = obj.event,
                data = obj.data;

            if(layEvent === 'edit'){ //编辑
                addNews(data);
            } else if(layEvent === 'del'){ //删除
                layer.confirm('确定删除此文章？',{icon:3, title:'提示信息'},function(index){
                    // $.get("删除文章接口",{
                    //     newsId : data.newsId  //将需要删除的newsId作为参数传入
                    // },function(data){
                    tableIns.reload();
                    layer.close(index);
                    // })
                });
            } else if(layEvent === 'look'){ //预览
                layer.alert("此功能需要前台展示，实际开发中传入对应的必要参数进行文章内容页面访问")
            }
        });

    })
</script>
</body>
</html>