<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>员工</title>
    <link rel="stylesheet" href="/resources/layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="/resources/css/admin.css" media="all" />
</head>
<body>
<div class="demoTable">
    <button class="layui-btn" data-type="reload">申请加班</button>
</div>
<table class="layui-hide" id="demo" lay-filter="test"></table>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<script type="text/javascript" src="/resources/layui/layui.js?t=1593348928630"></script>
<script>
    layui.config({
        version: '1593348928630' //为了更新 js 缓存，可忽略
    });

    layui.use(['laydate', 'laypage', 'layer', 'table', 'carousel', 'upload', 'element', 'slider'], function(){
        var
            laypage = layui.laypage //分页
            ,layer = layui.layer //弹层
            ,table = layui.table; //表格


        //执行一个 table 实例
        table.render({
            elem: '#demo'
            ,height: 'auto'
            ,url: 'http://172.16.10.79:8080/selectMember' //数据接口
            ,title: '审计记录'
            ,limit : 10
            ,limits : [10,15,20,25]
            ,page: true
            ,cols: [
                [
                {type: "checkbox", fixed:"left", width:50},
                {field: 'date', title: '申请时间',align: 'center',width: 120,sort:true},
                {field: 'status1', title: '状态',width: 170,align: 'center',sort: true},
                {field: 'description',title: '说明',width: 170,align: 'center',sort: true}
             ]
            ]
            ,parseData:function (res) {
                let row=JSON.parse(res.data.count);
                for(let i=0;i<row.length;i++){
                    //row
                }
                res.date.count=JSON.stringify(row);
                return{
                    "code":res.code,
                    "count":res.data.count,
                    "data":res.data.info
                }
            }
        });


        //监听行工具事件
        table.on('tool(test)', function(obj){ //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
            var data = obj.data //获得当前行数据
                ,layEvent = obj.event; //获得 lay-event 对应的值
            if(layEvent === 'detail'){
                layer.msg('查看操作');
            } else if(layEvent === 'del'){
                layer.confirm('真的删除行么', function(index){
                    obj.del(); //删除对应行（tr）的DOM结构
                    layer.close(index);
                    //向服务端发送删除指令
                });
            } else if(layEvent === 'edit'){
                layer.msg('编辑操作');
            }
        });


        let $ = layui.$, active = {
            reload: function(){
                $.get('http://172.16.10.79:8080/addApply',null,function (res) {
                    alert("s")
                });
                var demoReload = $('#demoReload');
                table.reload('testReload', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                }, 'data');
            }
        };

        $('.demoTable .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

        //分页
        laypage.render({
            elem: 'pageDemo' //分页容器的id
            ,count: 100 //总页数
            ,skin: '#1E9FFF' //自定义选中色值
            ,jump: function(obj, first){
                if(!first){
                    layer.msg('第'+ obj.curr +'页', {offset: 'b'});
                }
            }
        });

    });
</script>
</body>
</html>