<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>毕业生生涯最终</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/resources/layui/css/layui.css" media="all"/>
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
</head>
<body>

<fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">
    <legend>新增用户</legend>
</fieldset>
<form class="layui-form layui-form-pane" style="margin-left: 5%" action="">
    <div class="layui-form-item">
        <label class="layui-form-label">员工号</label>
        <div class="layui-input-inline">
            <input type="text" name="userId" autocomplete="off" lay-reqText="请输入员工号" lay-verify="required|name"
                   class="layui-input">
        </div>
        <label class="layui-form-label">密码</label>
        <div class="layui-input-inline">
            <input type="password" name="userPassword" autocomplete="off" lay-reqText="请输入密码" lay-verify="required"
                   class="layui-input">
        </div>
        <label class="layui-form-label">姓名</label>
        <div class="layui-input-inline">
            <input type="text" name="userName" autocomplete="off" lay-reqText="请输入姓名" lay-verify="required"
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">角色</label>
        <div class="layui-input-inline">
            <select name="userRole">
                <option value="ROLE_mem">组员</option>
                <option value="ROLE_lea">组长</option>
                <option value="ROLE_man">管理</option>
            </select>
        </div>
        <label class="layui-form-label">性别</label>
        <div class="layui-input-inline">
            <select name="userSex" class="userSex">
                <option value="man">男</option>
                <option value="woman">女</option>
            </select>
        </div>
        <label class="layui-form-label">组别</label>
        <div class="layui-input-inline">
            <input type="text" name="userGroup" autocomplete="off" lay-reqText="请确认组别" lay-verify="required"
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">邮箱</label>
        <div class="layui-input-inline">
            <input type="email" name="userEmail" autocomplete="off" class="layui-input">
        </div>
    </div>


    <div class="layui-form-item">
        <button class="layui-btn" lay-submit="" lay-filter="demo2">提交</button>
    </div>
</form>

<script type="text/javascript" src="/resources/layui/layui.js"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
    layui.use(['form', 'layedit', 'laydate'], function () {
        var form = layui.form
            , layer = layui.layer
            , layedit = layui.layedit
            , laydate = layui.laydate;


        //创建一个编辑器
        var editIndex = layedit.build('LAY_demo_editor');

        //自定义验证规则
        form.verify({
            name: function (value) {
                if (value.length < 5) {
                    return '账号至少需要5个字符';
                }
            }
            , pass: [
                /^[\S]{3,12}$/
                , '密码必须6到12位，且不能出现空格'
            ]
            , content: function (value) {
                layedit.sync(editIndex);
            }
        });
    });
</script>

</body>
</html>