<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8">
    <title>毕业生生涯追踪系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="keywords" content="fly,layui,前端社区">
    <meta name="description" content="Fly社区是模块化前端UI框架Layui的官网社区，致力于为web开发提供强劲动力">
    <link rel="stylesheet" href="/resources/layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="/resources/css/global.css" media="all" />
</head>
<body>
<div class="layui-container">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md8 content detail">
            <div class="fly-panel detail-box">
                <h1 th:text="${exchange.getTitle()}"></h1>
                <div class="fly-detail-info">
                    <div class="fly-admin-box" data-id="123">
                        <span class="layui-btn layui-btn-xs jie-admin" type="del" sec:authorize="hasRole('man')">删除</span>

                        <span class="layui-btn layui-btn-xs jie-admin" type="set" field="stick" rank="1" sec:authorize="hasRole('man')">置顶</span>
                        <!-- <span class="layui-btn layui-btn-xs jie-admin" type="set" field="stick" rank="0" style="background-color:#ccc;">取消置顶</span> -->

                        <span class="layui-btn layui-btn-xs jie-admin" type="set" field="status" rank="1" sec:authorize="hasRole('man')">加精</span>
                        <!-- <span class="layui-btn layui-btn-xs jie-admin" type="set" field="status" rank="0" style="background-color:#ccc;">取消加精</span> -->
                    </div>
                    <span class="fly-list-nums">
                        <a href="#comment"><i class="iconfont" title="评论">&#xe60c;</i> <span th:text="${exchange.getCommentCount()}"></span></a>
                        <i class="layui-icon" title="暂不支持分析，请手动复制链接">&#xe641;</i>
                    </span>
                </div>
                <div class="detail-about">
                    <a class="fly-avatar" href="../user/home.html">
                        <img th:src="${member.getImage()}">
                    </a>
                    <div class="fly-detail-user">
                        <a href="../user/home.html" class="fly-link">
                            <cite th:text="${exchange.getNickName()}"></cite>
                            <i class="iconfont icon-renzheng" title="认证信息：{{ rows.user.approve }}"></i>
                            <i class="layui-badge fly-badge-vip">SVIP</i>
                        </a>
                        <span th:text="${exchange.getSendDate()}">2020-11-30</span>
                    </div>
                    <div class="detail-hits" id="LAY_jieAdmin" data-id="123">
                        <span style="padding-right: 10px; color: #FF7200" th:if="${exchange.getSendRole()}=='ROLE_stu'">学生</span>
                        <span style="padding-right: 10px; color: #FF7200" th:if="${exchange.getSendRole()}=='ROLE_tea'">教师</span>
                        <span style="padding-right: 10px; color: #FF7200" th:if="${exchange.getSendRole()}=='ROLE_man'">管理</span>
                        <!--<span class="layui-btn layui-btn-xs jie-admin" type="edit"><a href="add.html">编辑此贴</a></span>-->
                        简介:<span th:if="${sendMember.getSynopsis()}!=null" th:text="${sendMember.getSynopsis()}"></span>
                        <span th:if="${sendMember.getSynopsis()}==null">这个人很懒，什么都没留下。</span>
                    </div>
                </div>
                <div class="detail-body photos">
                    <p th:text="${exchange.getMessage()}">
                        该系统由重庆邮电大学软件工程-cy完成（<a href="https://github.com/cydddddddddo/" target="_blank">fly.layui.com</a>），前端使用layui 模板，为layui点赞
                    </p>

                </div>
            </div>

            <div class="fly-panel detail-box" id="flyReply">
                <fieldset class="layui-elem-field layui-field-title" style="text-align: center;">
                    <legend>回帖</legend>
                </fieldset>

                <ul class="jieda" id="jieda">
                    <li data-id="111" class="jieda-daan" th:each="comment:${commentList}">
                        <a name="item-1111111111"></a>
                        <div class="detail-about detail-about-reply">
                            <a class="fly-avatar" href="">
                                <img th:src="${member.getImage()}">
                            </a>
                            <div class="fly-detail-user">
                                <a href="" class="fly-link">
                                    <cite th:text="${comment.getMember().getNickName()}"></cite>
                                    <i class="iconfont icon-renzheng" title="认证信息：是个好人"></i>
                                    <i class="layui-badge fly-badge-vip">SVIP</i>
                                </a>

                                <span th:if="${comment.getMember().getNickName()}==${exchange.getNickName()}">(楼主)</span>
                                <span style="color:#5FB878" th:if="${comment.getUser().getRole()}=='ROLE_man'">(管理员)</span>
                                <span style="color:#5FB878" th:if="${comment.getUser().getRole()}=='ROLE_tea'">(教师)</span>
                                <!--
                                <span style="color:#5FB878">(管理员)</span>
                                <span style="color:#FF9E3F">（社区之光）</span>
                                <span style="color:#999">（该号已被封）</span>
                                -->
                            </div>

                            <div class="detail-hits">
                                <span th:text="${comment.getSendDate()}">2020-05-20</span>
                            </div>

                             <i th:if="${comment.getUser().getRole()}=='ROLE_tea'" class="iconfont icon-caina" title="最佳沙发"></i>
                        </div>
                        <div class="detail-body jieda-body photos">
                            <p th:text="${comment.getContent()}">香菇那个蓝瘦，这是一条被采纳的回帖</p>
                        </div>
                        <div class="jieda-reply">
                            <!--   <span class="jieda-zan zanok" type="zan">
                                 <i class="iconfont icon-zan"></i>
                                 <em>66</em>
                               </span>-->
                            <span type="reply">
                <!--<i class="iconfont icon-svgmoban53"></i>
                回复-->
              </span>
                            <div class="jieda-admin" th:if="${comment.getMember().getNickName()}==${member.getNickName()}">
                                <!--<span type="edit">编辑</span>-->
                                <a th:href="@{/exchange/particulars/delete(exchangeId=${exchange.getId()},commentId=${comment.getId()})}" >删除</a>
                                <!-- <span class="jieda-accept" type="accept">采纳</span> -->
                            </div>
                        </div>
                    </li>

                    <!-- <li data-id="111">
                         <a name="item-1111111111"></a>
                         <div class="detail-about detail-about-reply">
                             <a class="fly-avatar" href="">
                                 <img src="https://tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg" alt=" ">
                             </a>
                             <div class="fly-detail-user">
                                 <a href="" class="fly-link">
                                     <cite>贤心</cite>
                                 </a>
                             </div>
                             <div class="detail-hits">
                                 <span>2017-11-30</span>
                             </div>
                         </div>
                         <div class="detail-body jieda-body photos">
                             <p>蓝瘦那个香菇，这是一条没被采纳的回帖</p>
                         </div>
                         <div class="jieda-reply">
               <span class="jieda-zan" type="zan">
                 <i class="iconfont icon-zan"></i>
                 <em>0</em>
               </span>
                             <span type="reply">
                 <i class="iconfont icon-svgmoban53"></i>
                 回复
               </span>
                             <div class="jieda-admin">
                                 <span type="edit">编辑</span>
                                 <span type="del">删除</span>
                                 <span class="jieda-accept" type="accept">采纳</span>
                             </div>
                         </div>
                     </li>-->

                    <!-- 无数据时 -->
                    <!-- <li class="fly-none">消灭零回复</li> -->
                </ul>

                <div class="layui-form layui-form-pane">
                    <form action="/exchange/particulars/add" method="post">
                        <div class="layui-form-item layui-form-text">
                            <a name="comment"></a>
                            <div class="layui-input-block">
                                <textarea id="L_content" name="content" required lay-verify="required" placeholder="请输入内容"  class="layui-textarea fly-editor" style="height: 150px;"></textarea>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <input type="hidden" name="exchangeId" th:value="${exchange.getId()}">
                            <input type="hidden" name="userId" th:value="${user.getId()}">
                            <button class="layui-btn" lay-filter="*" lay-submit>提交回复</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="fly-footer">
    <p><a href="http://fly.layui.com/" target="_blank">Fly社区</a> 2017 &copy; <a href="http://www.layui.com/" target="_blank">layui.com 出品</a></p>
    <p>
        <a href="http://fly.layui.com/jie/3147/" target="_blank">付费计划</a>
        <a href="http://www.layui.com/template/fly/" target="_blank">获取Fly社区模版</a>
        <a href="http://fly.layui.com/jie/2461/" target="_blank">微信公众号</a>
    </p>
</div>

<script type="text/javascript" src="/resources/layui/layui.js"></script>
<script type="text/javascript">
    layui.cache.page = 'jie';
    /*layui.cache.user = {
        username: '游客'
        ,uid: -1
        ,avatar: '../../res/images/avatar/00.jpg'
        ,experience: 83
        ,sex: '男'
    };*/
    layui.config({
        version: "3.0.0"
        ,base: '/resources/js/'
    }).extend({
        fly: 'particulars'
    }).use(['fly', 'face'], function(){
        var $ = layui.$
            ,fly = layui.fly;
        //如果你是采用模版自带的编辑器，你需要开启以下语句来解析。
        /*
        $('.detail-body').each(function(){
          var othis = $(this), html = othis.html();
          othis.html(fly.content(html));
        });
        */
    });
</script>

</body>
</html>