<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.order.module.user.dao.OverTimeDao">
    <select id="findAll" resultType="com.example.order.dto.OverTimeDTO">
        select id,`date`,`type` from overtime
    </select>
    <insert id="insert">
        insert into overtime(id,`date`,`type`)
        values (#{overTime.id},#{overTime.date},#{overTime.type})
    </insert>
    <update id="updateTypeById">
        update overtime set `type`=#{type}
        where id=#{id}
    </update>
    <select id="findToday" resultType="com.example.order.dto.OverTimeDTO">
        select id,`date`,`type` from overtime
        where `date`=#{time}
    </select>
    <select id="findById" resultType="com.example.order.dto.OverTimeDTO">
        select id,`date`,`type` from overtime
        where `id`=#{id}
    </select>
</mapper>